/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: Definition List table;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d1dfe6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d1dfe6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	max-id: 5;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	mc-hide-bottom-ruling: true;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	border-spacing-x: 0;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
}

mcTableColumnStyle
{
	span: 1;
	name: Column1;
	id: 0;
	size: 2px;
	font-weight: bold;
	cell-padding-right: 3px;
	type: Header;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
	background-color: #f2f6f8;
}

mcTableColumnStyle
{
	span: 1;
	id: 4;
	name: Column2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
}

mcTableBodyStyle
{
	span: 1;
	id: 5;
	name: Body1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
}


/* Cell Styles: */
 
.TableStyle-Definition_List_table
{
	border-collapse: collapse;
	mc-hide-bottom-ruling: true;
	border-left-style: solid;
	border-left-color: #d1dfe6;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d1dfe6;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d1dfe6;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d1dfe6;
	border-bottom-width: 1px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	margin-left: 1px;
	margin-right: 1px;
	margin-top: 20px;
	margin-bottom: 20px;
	border-spacing: 0px 0px;
}

.TableStyle-Definition_List_table-Column-Column1
{
	width: 2px;
}

.TableStyle-Definition_List_table-Column-Column2
{
	
}

.TableStyle-Definition_List_table-HeadI-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-HeadI-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadE-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-HeadE-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadF-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-HeadF-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadH-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-HeadH-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadD-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-HeadD-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadC-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-HeadC-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadB-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-HeadB-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadA-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-HeadA-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadG-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-HeadG-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-HeadI-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-HeadI-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadE-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-HeadE-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadF-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-HeadF-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadH-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-HeadH-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadD-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-HeadD-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadC-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-HeadC-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadB-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-HeadB-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadA-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-HeadA-Column2- p
{
	
}

.TableStyle-Definition_List_table-HeadG-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-HeadG-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootI-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-FootI-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootE-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-FootE-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootF-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-FootF-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootH-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-FootH-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootD-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-FootD-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootC-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-FootC-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootB-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-FootB-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootA-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-FootA-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootG-Column1-
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-FootG-Column1- p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-FootI-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-FootI-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootE-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-FootE-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootF-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-FootF-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootH-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-FootH-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootD-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-FootD-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootC-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-FootC-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootB-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-FootB-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootA-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-FootA-Column2- p
{
	
}

.TableStyle-Definition_List_table-FootG-Column2-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-FootG-Column2- p
{
	
}

.TableStyle-Definition_List_table-Body-Body1
{
	
}

.TableStyle-Definition_List_table-BodyI-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-BodyI-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyE-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-BodyE-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyF-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-BodyF-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyH-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-BodyH-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyD-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-BodyD-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyC-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-BodyC-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyB-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-BodyB-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyA-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-BodyA-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyG-Column1-Body1
{
	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	font-weight: bold;
	background-color: #f2f6f8;
	padding-right: 3px;
}

.TableStyle-Definition_List_table-BodyG-Column1-Body1 p
{
	font-weight: bold;
}

.TableStyle-Definition_List_table-BodyI-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-BodyI-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyE-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-BodyE-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyF-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-Definition_List_table-BodyF-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyH-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-BodyH-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyD-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-Definition_List_table-BodyD-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyC-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-BodyC-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyB-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-Definition_List_table-BodyB-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyA-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-BodyA-Column2-Body1 p
{
	
}

.TableStyle-Definition_List_table-BodyG-Column2-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-Definition_List_table-BodyG-Column2-Body1 p
{
	
}



