/* MadCap Table Style: */

/*<meta Version="9" />*/

mcTableStyle
{
	name: simPRO-Tables;
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-left-color: #d1dfe6;
	border-right-style: solid;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #d1dfe6;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	max-id: 7;
	cell-padding-left: 8px;
	cell-padding-right: 8px;
	cell-padding-top: 8px;
	cell-padding-bottom: 8px;
	margin-top: 30px;
	margin-bottom: 30px;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
	name: Header1;
	id: 2;
	background-color: #f2f6f8;
}

mcTableBodyStyle
{
	span: 1;
	id: 7;
	name: Body2;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #d1dfe6;
	name: Body1;
	id: 1;
	background-color: #f2f6f8;
}


/* Cell Styles: */
 
.TableStyle-simPRO-Tables
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #d1dfe6;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #d1dfe6;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #d1dfe6;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #d1dfe6;
	border-bottom-width: 1px;
	margin-top: 30px;
	margin-bottom: 30px;
	border-spacing: 0px 0px;
}

.TableStyle-simPRO-Tables-Column-Column1
{
	
}

.TableStyle-simPRO-Tables-Head-Header1
{
	
}

.TableStyle-simPRO-Tables-HeadI-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-HeadI-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadE-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
	background-color: #f2f6f8;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-HeadE-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadF-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-HeadF-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadH-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-HeadH-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadD-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-HeadD-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadC-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-HeadC-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadB-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-HeadB-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadA-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-HeadA-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-HeadG-Column1-Header1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-HeadG-Column1-Header1 p
{
	
}

.TableStyle-simPRO-Tables-FootI-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-FootI-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootE-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-FootE-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootF-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-FootF-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootH-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-FootH-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootD-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-FootD-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootC-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-FootC-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootB-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-FootB-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootA-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-FootA-Column1- p
{
	
}

.TableStyle-simPRO-Tables-FootG-Column1-
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-FootG-Column1- p
{
	
}

.TableStyle-simPRO-Tables-Body-Body2
{
	
}

.TableStyle-simPRO-Tables-BodyI-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-BodyI-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyE-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-BodyE-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyF-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-BodyF-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyH-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-BodyH-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyD-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-BodyD-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyC-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-BodyC-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyB-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-BodyB-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyA-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-BodyA-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-BodyG-Column1-Body2
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.TableStyle-simPRO-Tables-BodyG-Column1-Body2 p
{
	
}

.TableStyle-simPRO-Tables-Body-Body1
{
	
}

.TableStyle-simPRO-Tables-BodyI-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-BodyI-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyE-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-BodyE-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyF-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-BodyF-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyH-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-BodyH-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyD-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-bottom-width: 1px;
	border-bottom-color: #d1dfe6;
	border-bottom-style: solid;
}

.TableStyle-simPRO-Tables-BodyD-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyC-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-BodyC-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyB-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
	border-right-width: 1px;
	border-right-color: #d1dfe6;
	border-right-style: solid;
}

.TableStyle-simPRO-Tables-BodyB-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyA-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-BodyA-Column1-Body1 p
{
	
}

.TableStyle-simPRO-Tables-BodyG-Column1-Body1
{
	padding-left: 8px;
	padding-right: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #f2f6f8;
}

.TableStyle-simPRO-Tables-BodyG-Column1-Body1 p
{
	
}


